.advertisement {
  @include break(980px) {
    display: flex;
    justify-content: space-between;
    gap: 60px;
  }

  @include break(740px) {
    gap: 30px;
  }

  @include phone {
    display: none;
  }
  
  &__item {
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    justify-content: flex-end;
    width: 532px;
    height: 328px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include laptop {
      padding: 20px 15px;
      width: 300px;
      height: 254px;
    }

    @include break(980px) {
      width: 320px;
    }

    &:not(:last-child) {
      margin-bottom: 50px;

      @include laptop {
        margin-bottom: 40px;
      }

      @include break(980px) {
        margin-bottom: 0;
      }
    }

    &_tour {
      background-image: url("../img/advertisement-1.jpg");

      background-image: -webkit-image-set(
        url("../img/advertisement-1.avif") 1x,
        url("../img/advertisement-1.webp") 1x,
        url("../img/advertisement-1.jpg") 1x
      );

      background-image: image-set(
        url("../img/advertisement-1.avif") 1x,
        url("../img/advertisement-1.webp") 1x,
        url("../img/advertisement-1.jpg") 1x
      );
    }

    &_car {
      background-image: url("../img/advertisement-2.jpg");

      background-image: -webkit-image-set(
        url("../img/advertisement-2.avif") 1x,
        url("../img/advertisement-2.webp") 1x,
        url("../img/advertisement-2.jpg") 1x
      );

      background-image: image-set(
        url("../img/advertisement-2.avif") 1x,
        url("../img/advertisement-2.webp") 1x,
        url("../img/advertisement-2.jpg") 1x
      );
    }

    @include laptop {
      width: 320px;
    }
  }

  &__title,
  &__info {
    color: white;
    line-height: 130%;
  }

  &__title {
    font-size: 32px;
    
    @include laptop {
      margin-bottom: 10px;
      font-size: 22px;
    }
  }

  &__info {
    font-size: 16px;
    
    @include laptop {
      font-size: 14px;
    }
  }
}