.card {
  &__image-wrapper {
    position: relative;
    margin-bottom: 20px;
  
    @include tablet {
      margin-bottom: 15px;
    }
  
    @include phone {
      margin-bottom: 10px;
    }
  }
  
  &__image {
    object-fit: contain;
  }
  
  &__discount {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 20px;
    left: 20px;
    height: 88px;
    width: 88px;
    border-radius: 50%;
    background-color: #FFBD13;
    color: $white;
  
    @include tablet {
      left: 10px;
      width: 60px;
      height: 60px;
      font-size: 20px;
    }
  
    @include phone {
      left: 5px;
      bottom: 15px;
      width: 40px;
      height: 40px;
      font-size: 12px;
    }
  }
  
  &__price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    gap: 25px;
  }
  
  &__new-price {
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  
    @include tablet {
      font-size: 22px;
      line-height: 26px;
    }
  
    @include phone {
      font-size: 16px;
      line-height: 19px;
    }
  }
  
  &__old-price {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-decoration-line: line-through;
  
    @include tablet {
      font-size: 16px;
      line-height: 19px;
    }
  
    @include phone {
      font-size: 12px;
      line-height: 14px;
    }
  }
  
  &__product {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
  
    @include tablet {
      font-size: 18px;
    }
  
    @include phone {
      font-size: 12px;
    }
  }
}