.composition {
  padding-bottom: 50px;

  @include laptop {
    padding-bottom: 30px;
  }

  @include phone {
    padding-bottom: 25px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    @include break(1690px) {
      flex-direction: column;
    }

    @include tablet {
      padding: 0;
      width: 100vw;
      gap: 20px;
    }
  }

  &__wrapper {}

  &__cart,
  &__delivery,
  &__full-info {
    padding: 30px 40px;
    box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.25);
    border-radius: 16px;

    @include tablet {
      padding: 30px 60px;
      border-radius: 0;
    }

    @include phone {
      padding: 15px 20px;
    }
  }

  &__cart {
    margin-bottom: 30px;

    @include tablet {
      margin-bottom: 20px;
    }
  }

  &__title,
  &__subtitle {
    margin-bottom: 20px;

    @include tablet {
      font-size: 28px;
    }

    @include phone {
      margin-bottom: 15px;
      font-size: 18px;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    @include break(1690px) {
      margin-bottom: 30px;
    }

    @include phone {
      display: block;
      margin-bottom: 20px;
    }
  }

  &__choose-all {
    display: flex;
    align-items: center;
    gap: 10px;

    @include phone {
      gap: 5px;
    }
  }

  &__choose-text {
    font-size: 16px;
    line-height: 130%;

    @include tablet {
      font-size: 14px;
    }

    @include phone {
      font-size: 10px;
    }
  }

  &__delete {
    @include tablet {
      display: none;
    }
  }

  &__hr {
    margin-bottom: 20px;
    height: 1px;
    border: 0;
    background-color: $main-gray--light;

    @include phone {
      margin-bottom: 15px;
    }
  }

  &__full-order {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__full-product {
    display: grid;
    grid-template-columns: 1fr 110px 145px;
    gap: 140px;

    @include break(1690px) {
      justify-content: space-between;
      gap: 40px;
    }

    @include break(940px) {
      gap: 20px;
    }

    @include tablet {
      display: block;
    }
  }

  &__column {
    display: flex;
    gap: 15px;

    &_item {
      @include tablet {
        margin-bottom: 15px;
      }
    }

    &_counter {
      align-items: center;
      height: 36px;
      gap: 10px;

      @include tablet {
        height: 28px;
      }
    }

    &_price {
      display: flex;
      flex-direction: column;
      text-align: right;
      width: 155px;
      gap: 0;

      &_tablet {
        display: none;

        @include tablet {
          display: flex;
          flex-direction: row;
          align-items: baseline;
          margin-bottom: 5px;
          width: 100%;
          gap: 10px;
          text-align: left;
        }

        @include phone {
          flex-wrap: wrap;
          row-gap: 0;
        }
      }

      &_pc {
        @include tablet {
          display: none;
        }
      }
    }
  }

  &__checkbox {
    display: block;
  }

  &__product-image {
    object-fit: contain;
    min-width: auto;
    width: 130px;
    height: 130px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;

    @include tablet {
      width: 90px;
      height: 90px;
    }

    &_small {
      min-width: auto;
      width: 80px;
      height: 80px;

      @include tablet {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__product-title {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    max-width: 533px;

    @include break(1690px) {
      max-width: 370px;
    }

    @include tablet {
      max-width: none;
      font-size: 18px;
    }

    @include phone {
      font-size: 12px;
    }
  }

  &__count-button {
    width: 36px;
    height: 36px;
    border: 1px solid #E8E8E8;
    border-radius: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $main-gray;

    @include tablet {
      width: 28px;
      height: 28px;
      font-size: 12px;
    }
  }

  &__quantity {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    @include tablet {
      font-size: 18px;
    }
  }

  &__new-price {
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    @include tablet {
      font-size: 22px;
      line-height: 26px;
    }

    @include phone {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__old-price {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $main-gray;
    text-decoration-line: line-through;

    @include tablet {
      font-size: 12px;
      line-height: 14px;
    }

    @include phone {
      font-size: 10px;
      line-height: 12px;
    }
  }

  &__credit {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $main-blue;

    @include tablet {
      font-size: 14px;
    }

    @include phone {
      font-size: 10px;
    }
  }

  &__delivery {}

  &__subtitle {
    @include tablet {
      display: none;
    }
  }

  &__method {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: repeat(2, 40px) 80px;

    @include break (1690px) {
      grid-template-rows: repeat(2, 60px) 80px;
    }

    @include tablet {
      display: block;
    }
  }

  &__delivery-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $main-gray;

    @include tablet {
      margin-bottom: 15px;
      font-size: 14px;
    }

    @include phone {
      font-size: 10px;
    }

    &_hide {
      @include tablet {
        display: none;
      }
    }

    &_black {
      color: $text-color;
    }

    &_cost {
      @include tablet {
        color: $main-gray;
      }
    }
  }

  &__date {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    @include tablet {
      margin-bottom: 15px;
    }

    @include phone {
      margin-bottom: 10px;
      font-size: 12px;
    }
  }

  &__goods {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__full-info {
    width: 420px;
    height: 540px;

    @include tablet {
      padding: 30px;
      width: 100%;
      height: auto;
    }
  }

  &__list {
    margin-bottom: 20px;
  }

  &__total,
  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__total {
    margin-bottom: 20px;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__subsubtitle,
  &__cost {
    font-size: 26px;
    line-height: 31px;

    @include tablet {
      font-size: 22px;
      line-height: 26px;
    }

    @include phone {
      font-size: 16px;
      line-height: 19px;
    }
  }

  &__info-title,
  &__info {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: $main-gray;

    @include tablet {
      font-size: 12px;
    }

    @include phone {
      font-size: 10px;
    }
  }

  &__more-info {
    margin-bottom: 30px;
  }

  &__point,
  &__order {
    font-size: 16px;
    line-height: 130%;

    @include tablet {
      font-size: 12px;
    }
  }

  &__point {
    margin-bottom: 20px;
    font-weight: 400;
    color: $main-gray;
  }

  &__order {
    display: flex;
    margin-bottom: 20px;
    gap: 5px;

    @include tablet {
      justify-content: space-between;
    }

    &_small-margin {
      margin-bottom: 10px;
    }
  }

  &__select {
    &_blue {
      color: $main-blue;
    }
  }

  &__text {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__button {
    display: block;
    padding: 14px 100px;
    margin: 0 auto 20px;
    border-radius: 10px;
    font-size: 16px;
    line-height: 130%;
    color: $white;

    @include tablet {
      width: 100%;
      font-size: 14px;
    }

    @include phone {
      font-size: 12px;
    }
  }

  &__agreement {
    display: flex;
    gap: 10px;

    @include phone {
      gap: 5px;
    }
  }

  &__agreement-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;

    @include tablet {
      font-size: 12px;
    }

    @include phone {
      font-size: 10px;
    }
  }
}