.container {
  padding: 0 75px;
  margin: 0 auto;
  max-width: 1920px;

  @include laptop {
    padding: 0 40px;
  }

  @include tablet {
    padding: 0 35px;
  }

  @include phone {
    padding: 0 20px;
  }
}