.offer {
  @include tablet {
    padding-bottom: 65px;
  }

  @include phone {
    padding-bottom: 45px;
  }

  padding-bottom: 50px;
  color: $white;

  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 480px repeat(4, 228px);
    grid-template-areas:
      "laptops laptops laptops laptops laptops laptops"
      "books time second-pair second-pair ideas ideas"
      "red-shoes red-shoes second-pair second-pair benefit benefit"
      "decorations decorations decorations decorations red-dress household-chemicals"
      "decorations decorations decorations decorations red-dress balls";
    gap: 60px;

    @include laptop {
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: 314px 6px 202px repeat(3, 194px) 10px 418px;
      grid-template-areas:
        "laptops laptops laptops laptops"
        ". . . ."
        "books time second-pair second-pair"
        "red-shoes red-shoes second-pair second-pair"
        "ideas ideas red-dress household-chemicals"
        "benefit benefit red-dress balls"
        ". . . ."
        "decorations decorations decorations decorations";
      gap: 22px 30px;
    }

    @include tablet {
      grid-template-columns: repeat(2, minmax(40px, 140px)) minmax(82px, 182px) minmax(78px, 178px);
      grid-template-rows: 280px 0px 130px repeat(3, 126px) 337px;
      grid-template-areas:
        "laptops laptops laptops laptops"
        ". . . ."
        "books time second-pair second-pair"
        "red-shoes red-shoes second-pair second-pair"
        "ideas ideas red-dress household-chemicals"
        "benefit benefit red-dress balls"
        "decorations decorations decorations decorations";
      gap: 20px;
    }

    @include phone {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: 340px 8px 120px 8px 118px 8px 206px 8px 118px 8px 118px 8px 95px 94px 8px 123px;
      grid-template-areas:
        "laptops laptops"
        ". ."
        "books time"
        ". ."
        "red-shoes red-shoes"
        ". ."
        "second-pair second-pair"
        ". ."
        "ideas ideas"
        ". ."
        "benefit benefit"
        ". ."
        "red-dress household-chemicals"
        "red-dress balls"
        ". ."
        "decorations decorations";
      gap: 6px 20px;
    }
  }

  &__item {
    @include laptop {
      border-radius: 16px;
    }

    @include tablet {
      border-radius: 12px;
    }

    @include phone {
      border-radius: 8px;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &_laptops {
      @include laptop {
        padding: 91px 80px 38px;
      }

      @include tablet {
        padding: 72px 80px 30px;
      }

      @include phone {
        padding: 58px 25px 21px;
        align-items: center;
      }

      padding: 176px 112px 55px;
      justify-content: space-between;
      grid-area: laptops;
      background-image: url("../img/laptops.jpg");

      background-image: -webkit-image-set(
        url("../img/laptops.avif") 1x,
        url("../img/laptops.webp") 1x,
        url("../img/laptops.jpg") 1x
      );

      background-image: image-set(
        url("../img/laptops.avif") 1x,
        url("../img/laptops.webp") 1x,
        url("../img/laptops.jpg") 1x
      );
    }

    &_books {
      @include laptop {
        padding: 25px 12px;
      }

      @include tablet {
        padding: 15px 10px;
      }

      @include phone {
        padding: 0 40px 10px 10px;
      }

      padding: 20px;
      grid-area: books;
      background-image: url("../img/books.jpg");

      background-image: -webkit-image-set(
        url("../img/books.avif") 1x,
        url("../img/books.webp") 1x,
        url("../img/books.jpg") 1x
      );

      background-image: image-set(
        url("../img/books.avif") 1x,
        url("../img/books.webp") 1x,
        url("../img/books.jpg") 1x
      );
    }

    &_time {
      @include break (1800px) {
        padding-top: 30px;
      }

      @include laptop {
        padding: 55px 15px;
      }

      @include break (960px) {
        padding-top: 30px;
      }

      @include tablet {
        padding-top: 15px;
      }

      @include phone {
        padding: 20px 10px;
      }

      padding: 70px 13px 20px;
      justify-content: flex-start;
      grid-area: time;
      background-image: url("../img/time.jpg");

      background-image: -webkit-image-set(
        url("../img/time.avif") 1x,
        url("../img/time.webp") 1x,
        url("../img/time.jpg") 1x
      );

      background-image: image-set(
        url("../img/time.avif") 1x,
        url("../img/time.webp") 1x,
        url("../img/time.jpg") 1x
      );
    }

    &_second-pair,
    &_household-chemicals {
      @include tablet {
        padding: 10px;
      }
    }

    &_second-pair {
      @include laptop {
        padding: 10px;
      }

      padding: 20px;
      grid-area: second-pair;
      background-image: url("../img/second-pair.jpg");

      background-image: -webkit-image-set(
        url("../img/second-pair.avif") 1x,
        url("../img/second-pair.webp") 1x,
        url("../img/second-pair.jpg") 1x
      );

      background-image: image-set(
        url("../img/second-pair.avif") 1x,
        url("../img/second-pair.webp") 1x,
        url("../img/second-pair.jpg") 1x
      );
    }

    &_red-shoes {
      grid-area: red-shoes;
      background-image: url("../img/red-shoes.jpg");

      background-image: -webkit-image-set(
        url("../img/red-shoes.avif") 1x,
        url("../img/red-shoes.webp") 1x,
        url("../img/red-shoes.jpg") 1x
      );

      background-image: image-set(
        url("../img/red-shoes.avif") 1x,
        url("../img/red-shoes.webp") 1x,
        url("../img/red-shoes.jpg") 1x
      );
    }

    &_ideas,
    &_benefit {
      @include phone {
        padding: 15px 10px;
      }
    }

    &_ideas {
      @include laptop {
        padding: 35px;
      }

      @include tablet {
        padding: 20px 80px 13px 20px;
      }

      padding: 30px;
      grid-area: ideas;
      background-image: url("../img/ideas.jpg");

      background-image: -webkit-image-set(
        url("../img/ideas.avif") 1x,
        url("../img/ideas.webp") 1x,
        url("../img/ideas.jpg") 1x
      );

      background-image: image-set(
        url("../img/ideas.avif") 1x,
        url("../img/ideas.webp") 1x,
        url("../img/ideas.jpg") 1x
      );
    }

    &_benefit {
      @include laptop {
        padding: 0 100px 30px 30px;
      }

      @include tablet {
        padding: 0 70px 12px 22px;
      }

      padding: 0 110px 37px 30px;
      grid-area: benefit;
      background-image: url("../img/benefit.jpg");

      background-image: -webkit-image-set(
        url("../img/benefit.avif") 1x,
        url("../img/benefit.webp") 1x,
        url("../img/benefit.jpg") 1x
      );

      background-image: image-set(
        url("../img/benefit.avif") 1x,
        url("../img/benefit.webp") 1x,
        url("../img/benefit.jpg") 1x
      );
    }

    &_decorations {
      @include laptop {
        padding: 38px 30px;
      }

      @include tablet {
        padding: 26px;
      }

      @include phone {
        padding: 11px 15px;
        align-items: center;
      }

      padding: 50px;
      grid-area: decorations;
      background-image: url("../img/decorations.jpg");

      background-image: -webkit-image-set(
        url("../img/decorations.avif") 1x,
        url("../img/decorations.webp") 1x,
        url("../img/decorations.jpg") 1x
      );

      background-image: image-set(
        url("../img/decorations.avif") 1x,
        url("../img/decorations.webp") 1x,
        url("../img/decorations.jpg") 1x
      );
    }

    &_red-dress {
      grid-area: red-dress;
      background-image: url("../img/red-dress.jpg");

      background-image: -webkit-image-set(
        url("../img/red-dress.avif") 1x,
        url("../img/red-dress.webp") 1x,
        url("../img/red-dress.jpg") 1x
      );

      background-image: image-set(
        url("../img/red-dress.avif") 1x,
        url("../img/red-dress.webp") 1x,
        url("../img/red-dress.jpg") 1x
      );
    }

    &_household-chemicals {
      @include laptop {
        padding: 6px 12px;
      }

      @include phone {
        padding: 8px;
      }
      
      padding: 20px;
      grid-area: household-chemicals;
      background-image: url("../img/household-chemicals.jpg");

      background-image: -webkit-image-set(
        url("../img/household-chemicals.avif") 1x,
        url("../img/household-chemicals.webp") 1x,
        url("../img/household-chemicals.jpg") 1x
      );

      background-image: image-set(
        url("../img/household-chemicals.avif") 1x,
        url("../img/household-chemicals.webp") 1x,
        url("../img/household-chemicals.jpg") 1x
      );
    }

    &_balls {
      grid-area: balls;
      background-image: url("../img/balls.jpg");

      background-image: -webkit-image-set(
        url("../img/balls.avif") 1x,
        url("../img/balls.webp") 1x,
        url("../img/balls.jpg") 1x
      );

      background-image: image-set(
        url("../img/balls.avif") 1x,
        url("../img/balls.webp") 1x,
        url("../img/balls.jpg") 1x
      );
    }

    &_time::after,
    &_red-shoes::after,
    &_benefit::after,
    &_red-dress::after,
    &_household-chemicals::after {
      @include tablet {
        width: 50px;
        height: 50px;
        font-size: 16px;
      }

      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: #FFBD13;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
    }

    &_time::after {
      content: "-25%";
    }

    &_red-shoes::after {
      content: "-40%";
    }

    &_benefit::after {
      content: "-15%";
    }

    &_red-dress::after {
      content: "-55%";
    }

    &_household-chemicals::after {
      content: "-25%";
    }

    &_time::after,
    &_benefit::after,
    &_red-dress::after {
      @include laptop {
        bottom: 10px;
        right: 10px;
      }

      bottom: 20px;
      right: 20px;
    }

    &_time::after,
    &_benefit::after {
      @include phone {
        bottom: 5px;
        right: 5px;
      }
    }

    &_red-dress::after {
      @include phone {
        bottom: 10px;
        right: 10px;
      }
    }

    &_red-shoes::after,
    &_household-chemicals::after {
      @include laptop {
        top: 10px;
        left: 10px;
      }

      @include phone {
        top: 5px;
        left: 5px;
      }

      top: 20px;
      left: 20px;
    }
  }

  &__main-offer {
    @include laptop {
      font-size: 30px;
    }

    @include tablet {
      font-size: 26px;
      line-height: 0.8;
    }

    @include phone {
      font-size: 16px;
    }

    font-weight: 700;
    font-size: 40px;

    &_huge {
      @include laptop {
        font-size: 40px;
      }

      @include tablet {
        font-size: 30px;
      }

      @include phone {
        font-size: 22px;
      }

      font-size: 70px;
    }

    &_small {
      @include tablet {
        font-size: 12px;
      }

      @include phone {
        font-size: 8px;
        line-height: 130%;
      }

      font-size: 16px;
    }

    &_slim,
    &_so-slim {
      @include phone {
        font-size: 12px;
        line-height: 14px;
      }

      font-size: 30px;
    }

    &_blue-background {
      @include break (1800px) {
        font-size: 45px;
        line-height: 1.2;
      }

      @include laptop {
        padding: 28px 42px;
        font-size: 40px;
        line-height: 48px;
      }

      @include tablet {
        padding: 15px 26px;
        font-size: 26px;
        line-height: 28px;
      }

      @include phone {
        padding: 9px 10px;
        border-radius: 8px;
        font-size: 16px;
        line-height: 18px;
        text-align: center;
      }

      padding: 16px 26px;
      border-radius: 20px;
      background-color: #38C0EB;
      font-size: 56px;
      line-height: 67px;
    }

    &_big,
    &_slim,
    &_so-slim {
      @include tablet {
        font-size: 16px;
        line-height: 120%;
      }
    }

    &_slim {
      @include laptop {
        font-size: 24px;
      }

      @include phone {
        font-size: 12px;
      }
    }

    &_so-slim {
      @include laptop {
        font-size: 20px;
      }

      @include phone {
        font-size: 12px;
      }
    }

    &_big {
      @include laptop {
        font-size: 30px;
      }

      @include tablet {
        font-size: 16px;
        line-height: 120%;
      }

      @include phone {
        font-size: 12px;
      }

      line-height: 130%;
    }

    &_red-text {
      @include laptop {
        padding: 23px 46px;
        max-width: 513px;
        border-radius: 16px;
        font-size: 30px;
      }

      @include tablet {
        padding: 22px 33px;
        max-width: 347px;
        font-size: 20px;
      }

      @include phone {
        padding: 11px 41px;
        max-width: 250px;
        border-radius: 8px;
        font-size: 12px;
      }

      padding: 34px 40px;
      max-width: 643px;
      border-radius: 20px;
      background-color: $white;
      font-weight: 700;
      font-size: 40px;
      color: $attention;
      text-transform: uppercase;
    }
  }

  &__sale {
    @include laptop {
      gap: 10px;
    }

    @include tablet {
      gap: 13px;
    }

    @include phone {
      gap: unset;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }

  &__timer {
    @include laptop {
      width: 314px;
      font-size: 20px;
    }

    @include tablet {
      width: 230px;
      font-size: 16px;
    }

    @include phone {
      width: 170px;
      font-size: 12px;
    }

    width: 473px;
    font-size: 32px;
  }

  &__thin-text {
    @include laptop {
      font-size: 24px;
      line-height: 31px;
    }

    @include tablet {
      font-size: 16px;
      line-height: 18px;
    }

    @include phone {
      font-size: 12px;
      line-height: 14px;
    }

    font-weight: 400;
    font-size: 30px;

    &_big {
      @include laptop {
        font-size: 30px;
      }

      @include tablet {
        font-size: 26px;
        line-height: 29px;
      }

      @include phone {
        font-size: 16px;
        line-height: 18px;
      }

      font-size: 40px;
      font-weight: 700;
    }
  }
}