.overlay {
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 1315px;
  width: 100%;

  @include laptop {
    height: 940px;
  }

  @include break(1000px) {
    height: 1790px;
  }

  @include tablet {
    height: 1670px;
  }

  @include phone {
    height: 774px;
  }

  &_small {
    @include phone {
      height: 200px;
    }
  }
}

.overlay__arrows {
  position: absolute;
  top: calc(50% - 180px / 2);
  left: calc(50% - 180px / 2);
  animation: rotation 2s infinite;
}

@keyframes rotation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(-360deg);
  }
}