.post {
  padding-top: 40px;

  @include laptop {
    padding-top: 30px;
  }

  @include tablet {
    padding-top: 25px;
  }

  @include phone {
    padding-top: 15px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 140px;

    @include laptop {
      gap: 20px;
    }

    @include break(980px) {
      flex-direction: column;
      gap: 60px;
    }
  }

  &__title {
    margin-bottom: 40px;
    font-size: 50px;
    line-height: 130%;

    @include laptop {
      margin-bottom: 30px;
      font-size: 40px;
    }

    @include tablet {
      margin-bottom: 20px;
      font-size: 28px;
    }

    @include phone {
      margin-bottom: 10px;
      font-size: 18px;
    }
  }

  &__text {
    margin-bottom: 100px;

    @include laptop {
      margin-bottom: 60px;
    }

    @include tablet {
      margin-bottom: 35px;
    }

    @include phone {
      margin-bottom: 30px;
    }
  }

  &__paragraph {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 25px;

      @include laptop {
        margin-bottom: 20px;
      }

      @include tablet {
        margin-bottom: 10px;
      }

      @include phone {
        margin-bottom: 5px;
      }
    }

    @include laptop {
      font-size: 18px;
    }

    @include tablet {
      font-size: 16px;
    }

    @include phone {
      font-size: 12px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__author {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
    text-align: right;

    @include laptop {
      margin-bottom: 30px;
      font-size: 18px;
    }

    @include phone {
      margin-bottom: 20px;
      font-size: 12px;
    }
  }

  &__date,
  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $text-color;

    @include laptop {
      font-size: 14px;
    }

    @include phone {
      font-size: 8px;
    }
  }

  &__date {
    margin-bottom: 15px;

    @include phone {
      margin-bottom: 10px;
    }
  }

  &__community {
    display: flex;
    gap: 70px;

    @include laptop {
      gap: 53px;
    }

    @include phone {
      gap: 20px;
    }
  }

  &__item {
    position: relative;
    padding-left: 25px;

    @include laptop {
      gap: 53px;
    }

    @include phone {
      gap: 20px;
    }

    &_views::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 15px;
      background-image: url("../img/svg/views-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        width: 10px;
        height: 8px;
      }
    }

    &_comments::before {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("../img/svg/comments-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;

      @include phone {
        width: 13px;
        height: 13px;
      }
    }
  }

  &__button {
    position: relative;
    padding-left: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    @include laptop {
      padding-left: 25px;
      font-size: 14px;
    }

    @include phone {
      padding-left: 19px;
      font-size: 10px;
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 6px);
      width: 18px;
      height: 12px;
      background-image: url("../img/svg/to-blog.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      @include phone {
        top: calc(50% - 4px);
        width: 12px;
        height: 8px;
      }
    }
  }
}