.advertisement__item {
  display: flex;
  flex-direction: column;
  padding: 45px 30px;
  justify-content: flex-end;
  width: 532px;
  height: 328px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.advertisement__item:not(:last-child) {
  margin-bottom: 50px;
}

.advertisement__item_tour {
  background-image: url("../img/advertisement-1.jpg");
}

.advertisement__item_car {
  background-image: url("../img/advertisement-2.jpg");
}

.advertisement__title,
.advertisement__info {
  color: white;
  line-height: 130%;
}

.advertisement__title {
  font-size: 32px;
}

.advertisement__info {
  font-size: 16px;
}

@media (max-width: 1366px) {
  .advertisement__item {
    width: 320px;
  }
}