.footer {
  background-color: #2D2D2D;
  color: white;
}

.footer__container {
  padding-top: 80px;
  padding-bottom: 180px;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.footer__title {
  color: white;
}

.footer__subtitle {
  margin-bottom: 40px;
  font-size: 32px;
  line-height: 130%;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__list_two-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 30px;
}

.footer__social-list {
  display: flex;
  gap: 25px;
}

.footer__item {
  font-weight: 400;
  font-size: 22px;
  line-height: 150%;
}

.footer__item_margin {
  margin-bottom: 40px;
}

.footer__authors {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 130%;
}

.footer__design-author {
  margin-bottom: 10px;
}