.main {
  padding: 40px 0 150px;
}

.main__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 100px;
  row-gap: 50px;
}

@media (max-width: 1830px) {
  .main__container {
    padding: 150px 180px 125px;
  }

  .main__list {
    row-gap: 25px;
  }
}

@media (max-width: 1400px) {
  .main__container {
    padding: 80px 100px 70px;
  }
}

@media (max-width: 1120px) {
  .main__container {
    padding: 60px 70px 40px;
  }
}

@media (max-width: 768px) {
  .main__list {
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }
}

@media (max-width: 540px) {
  .main__container {
    padding: 30px 30px 20px;
  }

  .main__list {
    margin-bottom: 30px;
  }
}