.navigation {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.navigation__arrow {
  color: #3670C7;
}

.navigation__arrow_disabled {
  color: #8F8F8F;
  pointer-events: none;
}

.navigation__buttons-group {
  display: flex;
  gap: 6px;
}

.navigation__button {
  padding: 8px 13px;
  border: 2px solid #2D2D2D;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 130%;
}

.navigation__button_active {
  border-color: #3670C7;
  color: #3670C7;
  pointer-events: none;
}