.advertisement {
  &__item {
    display: flex;
    flex-direction: column;
    padding: 45px 30px;
    justify-content: flex-end;
    width: 532px;
    height: 328px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  
    &:not(:last-child) {
      margin-bottom: 50px;
    }
  
    &_tour {
      background-image: url("../img/advertisement-1.jpg");
    }
  
    &_car {
      background-image: url("../img/advertisement-2.jpg");
    }

    @include laptop {
      width: 320px;
    }
  }
  
  &__title,
  &__info {
    color: white;
    line-height: 130%;
  }
  
  &__title {
    font-size: 32px;
  }
  
  &__info {
    font-size: 16px;
  }
}