.offer {
  padding-top: 45px;
  padding-bottom: 50px;
  color: white;

  &__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 480px repeat(4, 228px);
    grid-template-areas:
      "laptops laptops laptops laptops laptops laptops"
      "books time second-pair second-pair ideas ideas"
      "red-shoes red-shoes second-pair second-pair benefit benefit"
      "decorations decorations decorations decorations red-dress household-chemicals"
      "decorations decorations decorations decorations red-dress balls";
    gap: 60px;
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;

    &_laptops {
      padding: 176px 112px 55px;
      justify-content: space-between;
      grid-area: laptops;
      background-image: url("../img/laptops.jpg");
    }

    &_books {
      padding: 20px;
      grid-area: books;
      background-image: url("../img/books.jpg");
    }
    
    &_time {
      padding: 70px 13px 20px;
      justify-content: flex-start;
      grid-area: time;
      background-image: url("../img/time.jpg");
    }
    
    &_second-pair {
      padding: 20px;
      grid-area: second-pair;
      background-image: url("../img/second-pair.jpg");
    }
    
    &_red-shoes {
      grid-area: red-shoes;
      background-image: url("../img/red-shoes.jpg");
    }
    
    &_ideas {
      padding: 30px;
      grid-area: ideas;
      background-image: url("../img/ideas.jpg");
    }
    
    &_benefit {
      padding: 0 110px 37px 30px;
      grid-area: benefit;
      background-image: url("../img/benefit.jpg");
    }
    
    &_decorations {
      padding: 50px;
      grid-area: decorations;
      background-image: url("../img/decorations.jpg");
    }
    
    &_red-dress {
      grid-area: red-dress;
      background-image: url("../img/red-dress.jpg");
    }
    
    &_household-chemicals {
      padding: 20px;
      grid-area: household-chemicals;
      background-image: url("../img/household-chemicals.jpg");
    }
    
    &_balls {
      grid-area: balls;
      background-image: url("../img/balls.jpg");
    }
    
    &_time::after,
    &_red-shoes::after,
    &_benefit::after,
    &_red-dress::after,
    &_household-chemicals::after {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 88px;
      height: 88px;
      border-radius: 50%;
      background: #FFBD13;
      font-weight: 700;
      font-size: 30px;
      line-height: 130%;
    }
    
    &_time::after {
      content: "-25%";
    }
    
    &_red-shoes::after {
      content: "-40%";
    }
    
    &_benefit::after {
      content: "-15%";
    }
    
    &_red-dress::after {
      content: "-55%";
    }
    
    &_household-chemicals::after {
      content: "-25%";
    }
    
    &_time::after,
    &_benefit::after,
    &_red-dress::after {
      bottom: 20px;
      right: 20px;
    }
    
    &_red-shoes::after,
    &_household-chemicals::after {
      top: 20px;
      left: 20px;
    }
  }

  &__offer {
    font-weight: 700;
    font-size: 40px;

    &_huge {
      font-size: 70px;
    }

    &_small {
      font-size: 16px;
    }

    &_slim,
    &_so-slim {
      font-size: 30px;
    }

    &_blue-background {
      padding: 16px 26px;
      border-radius: 20px;
      background-color: #38C0EB;
      font-size: 56px;
      line-height: 67px;
    }

    &_big {
      line-height: 130%;
    }

    &_red-text {
      padding: 34px 40px;
      max-width: 643px;
      border-radius: 20px;
      background-color: #fff;
      font-weight: 700;
      font-size: 40px;
      color: #F91155;
      text-transform: uppercase;
    }
  }

  &__sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
  }

  &__timer {
    width: 473px;
    font-size: 32px;
  }

  &__thin-text {
    font-weight: 400;
    font-size: 30px;

    &_big {
      font-size: 40px;
    }
  }
}

@media (max-width: 1800px) {
  .offer__item_time {
    padding-top: 30px;
  }

  .offer__offer_blue-background {
    font-size: 45px;
    line-height: 1.2;
  }

  .offer__thin-text_big {
    font-size: 30px;
  }
}

@media (max-width: 1366px) {
  .offer {
    padding-top: 30px;
  }

  .offer__container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 314px 6px 202px repeat(3, 194px) 10px 418px;
    grid-template-areas:
      "laptops laptops laptops laptops"
      ". . . ."
      "books time second-pair second-pair"
      "red-shoes red-shoes second-pair second-pair"
      "ideas ideas red-dress household-chemicals"
      "benefit benefit red-dress balls"
      ". . . ."
      "decorations decorations decorations decorations";
    gap: 22px 30px;
  }

  .offer__item {
    border-radius: 16px;
  }

  .offer__item_laptops {
    padding: 91px 80px 38px;
  }

  .offer__item_books {
    padding: 25px 12px;
  }

  .offer__item_time {
    padding: 55px 15px;
  }

  .offer__item_second-pair {
    padding: 10px;
  }

  .offer__item_ideas {
    padding: 35px;
  }

  .offer__item_benefit {
    padding: 0 100px 30px 30px;
  }

  .offer__item_decorations {
    padding: 38px 30px;
  }

  .offer__item_household-chemicals {
    padding: 6px 12px;
  }

  .offer__item_time::after,
  .offer__item_benefit::after,
  .offer__item_red-dress::after {
    bottom: 10px;
    right: 10px;
  }

  .offer__item_red-shoes::after,
  .offer__item_household-chemicals::after {
    top: 10px;
    left: 10px;
  }

  .offer__offer {
    font-size: 30px;
  }

  .offer__offer_huge {
    font-size: 40px;
  }

  .offer__sale {
    gap: 10px;
  }

  .offer__offer_small {
    font-size: 16px;
  }

  .offer__timer {
    width: 314px;
    font-size: 20px;
  }

  .offer__thin-text {
    font-size: 24px;
    line-height: 31px;
  }

  .offer__thin-text_big {
    font-size: 30px;
  }

  .offer__offer_blue-background {
    padding: 28px 42px;
    font-size: 40px;
    line-height: 48px;
  }

  .offer__offer_big {
    font-size: 30px;
  }

  .offer__offer_red-text {
    padding: 23px 46px;
    max-width: 513px;
    border-radius: 16px;
    font-size: 30px;
  }

  .offer__offer_slim {
    font-size: 24px;
  }

  .offer__offer_so-slim {
    font-size: 20px;
  }
}

@media (max-width: 960px) {
  .offer__item_time {
    padding-top: 30px;
  }
}

@media (max-width: 768px) {
  .offer {
    padding-top: 21px;
    padding-bottom: 65px;
  }

  .offer__container {
    grid-template-columns: repeat(2, minmax(40px, 140px)) minmax(82px, 182px) minmax(78px, 178px);
    grid-template-rows: 280px 0px 130px repeat(3, 126px) 337px;
    grid-template-areas:
      "laptops laptops laptops laptops"
      ". . . ."
      "books time second-pair second-pair"
      "red-shoes red-shoes second-pair second-pair"
      "ideas ideas red-dress household-chemicals"
      "benefit benefit red-dress balls"
      "decorations decorations decorations decorations";
    gap: 20px;
  }

  .offer__item {
    border-radius: 12px;
  }

  .offer__item_laptops {
    padding: 72px 80px 30px;
  }

  .offer__item_books {
    padding: 15px 10px;
  }

  .offer__item_time {
    padding-top: 15px;
  }

  .offer__item_second-pair,
  .offer__item_household-chemicals {
    padding: 10px;
  }

  .offer__item_ideas {
    padding: 20px 80px 13px 20px;
  }

  .offer__item_benefit {
    padding: 0 70px 12px 22px;
  }

  .offer__item_decorations {
    padding: 26px;
  }

  .offer__item_time::after,
  .offer__item_red-shoes::after,
  .offer__item_benefit::after,
  .offer__item_red-dress::after,
  .offer__item_household-chemicals::after {
    width: 50px;
    height: 50px;
    font-size: 16px;
  }

  .offer__offer {
    font-size: 26px;
    line-height: 0.8;
  }

  .offer__offer_huge {
    font-size: 30px;
  }

  .offer__offer_small {
    font-size: 12px;
  }

  .offer__sale {
    gap: 13px;
  }

  .offer__timer {
    width: 229px;
    font-size: 16px;
  }

  .offer__thin-text {
    font-size: 16px;
    line-height: 18px;
  }

  .offer__offer_blue-background {
    padding: 15px 26px;
    font-size: 26px;
    line-height: 28px;
  }

  .offer__offer_big,
  .offer__offer_slim,
  .offer__offer_so-slim {
    font-size: 16px;
    line-height: 120%;
  }

  .offer__offer_red-text {
    padding: 22px 33px;
    max-width: 347px;
    font-size: 20px;
  }
}

@media (max-width: 540px) {
  .offer {
    padding-top: 21px;
    padding-bottom: 45px;
  }

  .offer__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 340px 8px 120px 8px 118px 8px 206px 8px 118px 8px 118px 8px 95px 94px 8px 123px;
    grid-template-areas:
      "laptops laptops"
      ". ."
      "books time"
      ". ."
      "red-shoes red-shoes"
      ". ."
      "second-pair second-pair"
      ". ."
      "ideas ideas"
      ". ."
      "benefit benefit"
      ". ."
      "red-dress household-chemicals"
      "red-dress balls"
      ". ."
      "decorations decorations";
    gap: 6px 20px;
  }

  .offer__item {
    border-radius: 8px;
  }

  .offer__item_laptops {
    padding: 58px 25px 21px;
    align-items: center;
  }

  .offer__item_books {
    padding: 0 40px 10px 10px;
  }

  .offer__item_time {
    padding: 20px 10px;
  }

  .offer__item_ideas,
  .offer__item_benefit {
    padding: 15px 10px;
  }

  .offer__item_decorations {
    padding: 11px 15px;
    align-items: center;
  }

  .offer__item_household-chemicals {
    padding: 8px;
  }

  .offer__item_time::after,
  .offer__item_benefit::after {
    bottom: 5px;
    right: 5px;
  }

  .offer__item_red-shoes::after,
  .offer__item_household-chemicals::after {
    top: 5px;
    left: 5px;
  }

  .offer__item_red-dress::after {
    bottom: 10px;
    right: 10px;
  }

  .offer__offer {
    font-size: 16px;
  }

  .offer__offer_huge {
    font-size: 22px;
  }

  .offer__sale {
    gap: unset;
  }

  .offer__offer_small {
    font-size: 8px;
    line-height: 130%;
  }

  .offer__timer {
    width: 167px;
    font-size: 12px;
  }

  .offer__offer_big {
    font-size: 12px;
  }

  .offer__thin-text,
  .offer__offer_slim,
  .offer__offer_so-slim {
    font-size: 12px;
    line-height: 14px;
  }

  .offer__offer_blue-background {
    padding: 9px 10px;
    border-radius: 8px;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
  }

  .offer__offer_red-text {
    padding: 11px 41px;
    max-width: 250px;
    border-radius: 8px;
    font-size: 12px;
  }
}