.post {
  padding-top: 40px;

  &__container {
    display: flex;
    gap: 8%;
  }

  &__title {
    font-size: 50px;
    margin-bottom: 40px;
  }

  &__text {
    margin-bottom: 100px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }

  &__footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
  
  &__author {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 22px;
    line-height: 150%;
  }
  
  &__date,
  &__item {
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;
    color: $text-color;
  }
  
  &__date {
    margin-bottom: 15px;
  }
  
  &__community {
    display: flex;
    gap: 70px;
  }
  
  &__item {
    position: relative;
    padding-left: 25px;

    &_views::before {
      content: "";
      position: absolute;
      top: 2px;
      left: 0;
      width: 20px;
      height: 15px;
      background-image: url("../img/views-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }

    &_comments::before {
      content: "";
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      background-image: url("../img/comments-icon.svg");
      background-size: contain;
      background-repeat: no-repeat;
    }
  }
  
  &__button {
    position: relative;
    padding-left: 32px;
    font-weight: 700;
    font-size: 16px;
    line-height: 130%;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: calc(50% - 6px);
      width: 18px;
      height: 12px;
      background-image: url("../img/to-blog.svg");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }
}


@media (max-width: 1366px) {
  .post__text {
    margin-bottom: 50px;
  }
}