.title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 41px;
  letter-spacing: 0.06em;
  color: $text-color;

  &__focus {
    color: $main-blue;
  }

  @include tablet {
    font-size: 26px;
    line-height: 35px;
    letter-spacing: 0.06em;
  }

  @include phone {
    font-size: 18px;
    line-height: 25px;
  }
}