.container {
  padding: 0 75px;
  margin: 0 auto;
  max-width: 1920px;
}

@media (max-width: 1366px) {
  .container {
    padding: 0 42px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 34px;
  }
}

@media (max-width: 540px) {
  .container {
    padding: 0 20px;
  }
}